@import "compass";
@import "compass/reset";
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
#map {
    width: 100vw;
    height: 90vh;
    //cursor: crosshair;
}
#help{
    position: fixed;
    top: 0;
    right: 0;
    margin: 12px;
}
#crosshair {
    position: fixed;
    left: calc(50vw - .15in);
    top: calc(50vh - .15in);
    z-index: 1;
}
#add-button {
    flex: 4;
    font-size: 7vh;
}
#distance {
    flex: 1;
    min-width: 140px;
}
#top-bar {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    background-color: blue;
    color: white;
    display: flex;
    flex-flow: row;
}
